@model Przuchodnia_Medyczna_Inz.Models.Specjalizacja

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="title" style="font-size: 25px;">Usuń specjalizacje</h3>
            </div>
            <div class="modal-body">
                <h4 class="title">Czy napewno chcesz usunać specjalizacje <b style="font-size: 15px;">@Html.DisplayFor(model => model.Nazwa)</b>?</h4>
            </div>

            <div class="modal-footer">
                @using (Html.BeginForm())
                {

             <input type="submit" value="Usuń" class="btn btn-danger" />  
                    @*<button type="button" onclick="location.href='@Url.Action("DeleteConfirmed", "Specjalizacja", new { id = Model.SpecjalizacjaID })'" class="btn btn-danger">Usuń</button>*@
                    
                    <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                }
            </div>
        </div>
    </div>
</div>

