@model Przuchodnia_Medyczna_Inz.Models.Stanowisko

@{
    ViewBag.Title = "Szczegóły";
}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title title">
                    Stanowisko @Html.DisplayFor(model => model.Nazwa)
                </h3>
            </div>
            <div class="modal-body">
                <h4><b>Obowiązki na stanowisku:</b></h4>
                <br />
                @Html.DisplayFor(model => model.Obowiazki)
            </div>
        </div>
        <div class="modal-footer" style="margin-top: 60px;">
            <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
        </div>
    </div>
</div>


