@{
    ViewBag.Title = "Autor projektu: 'Przychodnia'";
}
<br />
<h2>@ViewBag.Title</h2>
<br />
<br />

<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-3">
            <h3>Julia Majewska</h3><br />
            <p>Polsko-Japońska Akademia Technik Komputerowych</p>
        </div>
        <div class="col-md-offset-4">
            <img src="~/Content/img/183930_195691380459720_6542824_n.jpg" />
        </div>
    </div>
</div>